.aside {    
    &__container {
    background: #fff;
    padding: 30px;
    margin-bottom: 30px;
    }
    &__image-container {
        padding-bottom: 30px;
    }
    &__heading {
        @include heading(24);
        padding: 0 0 15px 0; 
    }
    &__items {
        margin-bottom: 15px;
    }
    &__link {
        display: inline;
        padding: 0; 
        transition: transform 300ms, text-shadow 300ms, color 300ms;       
        &--blue {
            color: $textSecondary;        
            font-weight: 700;            
        }
        &--before::before {
            content: "•";
            color: $color; 
            padding: 0 10px;            
        } 
        &:hover {
            color: $colorSecondary;
        }
        &--yellow {
            padding: 0 10px;
            margin-right: 15px;
            color: $color;
            font-size: 3rem;
            &:hover {
                transform: scale(1.2);
                text-shadow: -5px -5px 0 $color, 5px 5px 0 $colorAccent;
            }
            &:first-child {
                padding-left: 0;
            }
        }       
    }
    &__social-media {
        display: flex;
        justify-content: flex-start;
    } 
    &__email {
        font-weight: 700;
        margin: 20px 0;
        padding: 0;
        font-size: 2.2rem;
    }
    &__phone {
        padding: 0;
        line-height: 32px;
    }   
}