.button {
    @include button(220px);
    &--narrow {
        @include button(170px);
    }
    &:hover {
        background: $colorSecondary;        
        color: #fff;
    }
    &--wide {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none; 
        flex: 1 1 700px;  
    }   
}