.main {
    &__heading {
        @include heading(42);
    }
    &__text {
        width: 90%;
        margin: 30px 0;
        &--narrow {
            width: 100%;
        }
    }
    &--narrow {
        flex: 6 1 300px;
        margin-left: 120px;
    }
}