/* Landscape tablet and laptops*/
@media (max-width: 1280px) {
    .header {
        height: 75vh;
        &__heading {
            font-size: 10rem;
        }
        &__text-image {            
            width: 120px;
            top: -15%;
            left: -7%;
        }
        &__image-container {
            max-width: 400px;
            width: 400px;                 
        } 
    }
    .about {
        &__main {
            padding-bottom: 100px;
        }    
    }
    .main {
        &--narrow {
            flex-grow: 4;
        }
    }
    .sub {
        &__info {            
            padding: 75px 0 0 75px;            
            &--flex-reverse {
                padding: 0 75px 75px 0;
            }
        }
        &__heading {
            font-size: 2.8rem;            
        }
        &__text {
            margin: 20px 0;                    
        }
    }
    .links {   
        &__container {            
            padding: 100px 0; 
        }             
    }        
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    html {
        font-size: 55%;       
    }
    .header {
        &__wrapper {  
            margin-top: 50px;
        } 
        &__text-image {            
            width: 100px;
            top: -15%;
            left: -7%;
        }
        &__heading {
            font-size: 8rem;
        }
        &__image-container {
            max-width: 330px;
            width: 330px;
            position: static;                 
        } 
    }
    .sub {        
        align-items: center;
        position: static;
        &--flex-reverse {        
            align-items: center;        
        } 
        &__image {
           position: static; 
        }
        &__info {            
            padding: 50px 0 50px 50px;            
            &--flex-reverse {
                padding: 50px 50px 50px 0;
            } 
        }       
    }
    .links {   
        &__container {            
            padding: 75px 0; 
        }
        &__items {
            &:hover {
                transform: scale(0.8);
            } 
        }             
    }
    .journey {
        &__main {
            align-items: flex-start;
        }
    }  
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    html {
        font-size: 50%;       
    }
    .nav {
        &__title {
            display: none;
        }
        &__main-menu {        
            padding: 10px;
        }
        &__links {
            font-size: 2.6rem;
            &:hover {
                transform: none;
                text-shadow: none;
            } 
        }
    }
    .header {
        &__wrapper {  
            margin-top: 0;
        } 
        &__text-image {            
            width: 80px;
            top: -15%;
            left: -7%;
        }
    }
    .about {
        &__main {
            padding: 50px 0;
        }    
    }
    .main {
        text-align: center;
        &--narrow {
            margin: 0;
        }        
        &__text {
            margin: 20px auto;
            &--narrow {
                width: 90%;
            }
        }
    }
    .sub {        
        display: block;
        padding-top: 50px;
        &--flex-reverse {
            padding-bottom: 50px;
        }       
        &__info {
            display: block;            
            padding: 50px 0 0 0;                       
        }
        &__heading {
            text-align: center;
        }
        &__text {
            text-align: center;
        }       
    }
    .button {
        margin: 0 auto;
    }
    .links {
        &__container {
            width: 100%;
            padding: 30px;
            display: block;
        }
        &__items {
            margin: 0 auto;
            width: 100%;  
            &:hover {
                background: none;
                transform: none;
                box-shadow: none;
            }
        }
    }
    .journey {
        &__main {
            width: 100%;
            display: block;
            padding: 30px;
        }
        &__image-container {
            display: none;
        }
        &__gallery {
            width: 100%;
            padding: 0; 
            justify-content: flex-start;            
        }
        &__gallery-items {
            flex-grow: 1;
            &:hover {
                transform: none;
                box-shadow: none;
            }
        }
    }
}

/* Landscape phones */
@media (max-width: 480px) {
    html {
        font-size: 45%;       
    }    
    .header {
        height: 50vh; 
        &__title {
            margin: auto;
        }
        &__heading {
            margin: 0;
            font-size: 10rem;
        }
        &__text-image {            
            width: 100px;
            top: -15%;
            left: -7%;
        }
        &__image-container {
            display: none;                
        } 
    }
}

/* portrait phones to landscape phones  */
@media (max-width: 320px) {
    .nav {
        &__main-menu {        
            padding: 5px;
        }
        &__links {
            font-size: 2rem;
            padding: 3px;
        }
    }
    .header {
        &__wrapper {  
            margin-top: 30px;
        } 
        &__text-image {            
            width: 75px;
            top: -15%;
            left: -7%;
        }
        &__heading {
            font-size: 8rem;
        }
    }
}