.page {
    background: $background;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 100px 0;
    }
    &__container {
        width: 30%;
        &--wider {
            width: 67%;
        }
    }
}