$text: #2c2c2c;
$textSecondary: #285e64;
$background: #f0efed;
$backgroundSecondary: #4f4f4f;
$color: #f6a823;
$colorSecondary: #a82706;
$colorAccent: #05afc1;

$fontSize: 20;
$fontFamily: 'Roboto', sans-serif;
$fontFamilySecondary: 'Lora', serif;

@mixin heading($fontSizeHeading) { 
    font-size: ($fontSizeHeading / 10) * 1rem;    
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

@mixin button($width) {
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    line-height: 32px;
    width: $width;
    background: $colorAccent;
}



