@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: #f0efed;
  color: #2c2c2c;
  padding: 10px;
  border: 2px solid #2c2c2c; }

.skipLink:focus {
  left: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  color: #2c2c2c;
  font-weight: 400; }

p {
  line-height: 32px;
  margin: 0;
  padding: 0; }

a {
  color: #2c2c2c;
  text-decoration: none;
  padding: 0 10px;
  display: block; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

li {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  display: block;
  margin: 0;
  padding: 0; }

.wrapper {
  width: 80%;
  margin: 0 auto; }

.nav {
  background: #f6a823;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10; }
  .nav__main-menu {
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .nav__links {
    font-weight: 700;
    text-align: center;
    line-height: 29px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0 15px;
    margin: 0 5px;
    -webkit-transition: text-shadow 300ms, color 300ms, -webkit-transform 300ms;
    transition: text-shadow 300ms, color 300ms, -webkit-transform 300ms;
    -o-transition: transform 300ms, text-shadow 300ms, color 300ms;
    transition: transform 300ms, text-shadow 300ms, color 300ms;
    transition: transform 300ms, text-shadow 300ms, color 300ms, -webkit-transform 300ms; }
    .nav__links--color {
      color: #fff; }
    .nav__links:hover {
      -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
      transform: scale(1.5);
      text-shadow: -4px -4px 0 #a82706, 4px 4px 0 #05afc1;
      color: #fff; }
  .nav__title {
    font-size: 4.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    padding: 0 40px; }

.header {
  background: #f6a823;
  height: 85vh; }
  .header--small {
    height: 50vh;
    background: none; }
  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    margin-top: 70px; }
    .header__wrapper--small {
      width: 100%;
      background: url(../assets/blog-image-1.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative; }
    .header__wrapper--background {
      background: url(../assets/contact-image-1.jpg); }
  .header__title {
    position: relative; }
  .header__text-image {
    width: 200px;
    position: absolute;
    top: -20%;
    left: -10%; }
  .header__heading {
    font-size: 15rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    margin-right: 50px; }
    .header__heading--small {
      font-size: 8rem;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      position: absolute;
      left: 10%;
      bottom: -12%; }
  .header__image-container {
    max-width: 450px;
    width: 450px;
    -webkit-box-shadow: 20px 20px 0 0 #fff;
    box-shadow: 20px 20px 0 0 #fff;
    position: relative;
    bottom: -50px; }

.button {
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  line-height: 32px;
  width: 220px;
  background: #05afc1;
  padding: 10px;
  -webkit-transition: color 500ms ease-in, background 500ms ease-in;
  -o-transition: color 500ms ease-in, background 500ms ease-in;
  transition: color 500ms ease-in, background 500ms ease-in; }
  .button--narrow {
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    line-height: 32px;
    width: 170px;
    background: #05afc1;
    padding: 10px;
    -webkit-transition: color 500ms ease-in, background 500ms ease-in;
    -o-transition: color 500ms ease-in, background 500ms ease-in;
    transition: color 500ms ease-in, background 500ms ease-in; }
  .button:hover {
    background: #a82706;
    color: #fff; }
  .button--wide {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 700px;
    flex: 1 1 700px; }

.about__main {
  background: #f0efed;
  padding: 100px 0 150px 0; }

.main__heading {
  font-size: 4.2rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  padding: 0; }

.main__text {
  width: 90%;
  margin: 30px 0; }
  .main__text--narrow {
    width: 100%; }

.main--narrow {
  -webkit-box-flex: 6;
  -ms-flex: 6 1 300px;
  flex: 6 1 300px;
  margin-left: 120px; }

.sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
  top: -30px; }
  .sub--flex-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    top: 30px; }
  .sub__image-container {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 300px;
    flex: 1 0 300px;
    position: relative;
    bottom: 20px;
    -webkit-box-shadow: 20px 20px 0 #a82706, -300px 20px 0 #a82706;
    box-shadow: 20px 20px 0 #a82706, -300px 20px 0 #a82706; }
    .sub__image-container--flex-reverse {
      bottom: 0;
      -webkit-box-shadow: 20px 20px 0 #f6a823, 300px 20px 0 #f6a823;
      box-shadow: 20px 20px 0 #f6a823, 300px 20px 0 #f6a823; }
  .sub__info {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 300px;
    flex: 1 0 300px;
    padding: 100px 0 0 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .sub__info--flex-reverse {
      padding: 0 100px 100px 0;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
  .sub__heading {
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    padding: 0; }
    .sub__heading--flex-reverse {
      text-align: right; }
  .sub__text {
    margin: 30px 0; }
    .sub__text--flex-reverse {
      text-align: right; }

.links {
  background: #f0efed; }
  .links__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 150px 0 100px 0; }
  .links__items {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 450px;
    flex: 1 0 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 30px;
    padding: 10px;
    -webkit-transition: background 500ms, -webkit-transform 500ms, -webkit-box-shadow 500ms;
    transition: background 500ms, -webkit-transform 500ms, -webkit-box-shadow 500ms;
    -o-transition: background 500ms, transform 500ms, box-shadow 500ms;
    transition: background 500ms, transform 500ms, box-shadow 500ms;
    transition: background 500ms, transform 500ms, box-shadow 500ms, -webkit-transform 500ms, -webkit-box-shadow 500ms; }
    .links__items--margin {
      margin-bottom: 0; }
    .links__items:hover {
      background: #f6a823;
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
      -webkit-box-shadow: -10px -10px 0 #a82706, 10px 10px 0 #05afc1, 20px 20px 10px #b1b1b1;
      box-shadow: -10px -10px 0 #a82706, 10px 10px 0 #05afc1, 20px 20px 10px #b1b1b1; }
  .links__icon-container {
    margin-right: 15px; }
  .links__icon {
    background: #f6a823;
    border-radius: 50%;
    padding: 15px; }
  .links__heading {
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    padding-top: 7px; }
  .links__text {
    padding: 20px 0; }

.journey__container {
  background: #f0efed; }

.journey__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 100px 0; }

.journey__image-container {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 200px;
  flex: 1 1 200px; }

.journey__image {
  width: 100%;
  -webkit-box-shadow: 20px 20px 0 #f6a823;
  box-shadow: 20px 20px 0 #f6a823; }

.journey__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 100px 0; }

.journey__gallery-items {
  width: 31%;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  -o-transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out; }
  .journey__gallery-items:hover {
    -webkit-transform: scale(1.35);
    -ms-transform: scale(1.35);
    transform: scale(1.35);
    -webkit-box-shadow: 0 0 15px #2c2c2c;
    box-shadow: 0 0 15px #2c2c2c;
    z-index: 10; }

.page {
  background: #f0efed; }
  .page__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 100px 0; }
  .page__container {
    width: 30%; }
    .page__container--wider {
      width: 67%; }

.aside__container {
  background: #fff;
  padding: 30px;
  margin-bottom: 30px; }

.aside__image-container {
  padding-bottom: 30px; }

.aside__heading {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding: 0 0 15px 0; }

.aside__items {
  margin-bottom: 15px; }

.aside__link {
  display: inline;
  padding: 0;
  -webkit-transition: text-shadow 300ms, color 300ms, -webkit-transform 300ms;
  transition: text-shadow 300ms, color 300ms, -webkit-transform 300ms;
  -o-transition: transform 300ms, text-shadow 300ms, color 300ms;
  transition: transform 300ms, text-shadow 300ms, color 300ms;
  transition: transform 300ms, text-shadow 300ms, color 300ms, -webkit-transform 300ms; }
  .aside__link--blue {
    color: #285e64;
    font-weight: 700; }
  .aside__link--before::before {
    content: "•";
    color: #f6a823;
    padding: 0 10px; }
  .aside__link:hover {
    color: #a82706; }
  .aside__link--yellow {
    padding: 0 10px;
    margin-right: 15px;
    color: #f6a823;
    font-size: 3rem; }
    .aside__link--yellow:hover {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
      text-shadow: -5px -5px 0 #f6a823, 5px 5px 0 #05afc1; }
    .aside__link--yellow:first-child {
      padding-left: 0; }

.aside__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.aside__email {
  font-weight: 700;
  margin: 20px 0;
  padding: 0;
  font-size: 2.2rem; }

.aside__phone {
  padding: 0;
  line-height: 32px; }

.blog__post, .blog__comments {
  background: #fff;
  padding: 30px;
  margin-bottom: 30px; }

.blog__post {
  border-bottom: 5px solid #f6a823; }

.blog__heading {
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  padding: 0; }

.blog__date {
  margin-top: 15px;
  font-style: italic; }
  .blog__date--color {
    color: #285e64;
    margin: 0;
    font-weight: 700; }

.blog__link {
  display: inline;
  padding: 0;
  color: #285e64;
  font-weight: 700;
  -webkit-transition: color 300ms;
  -o-transition: color 300ms;
  transition: color 300ms; }
  .blog__link:hover {
    color: #a82706; }

.blog__text {
  margin-top: 15px; }

.blog__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .blog__comments--border {
    border-bottom: 5px solid #f6a823; }

.blog__image-container {
  margin-right: 20px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50px;
  flex: 1 0 50px; }

.blog__image {
  width: 100%; }

.blog__content {
  -webkit-box-flex: 7;
  -ms-flex: 7 0 250px;
  flex: 7 0 250px; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .form__name, .form__email, .form__text {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    height: 40px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 1.8rem;
    width: 49%;
    padding: 35px;
    margin-bottom: 15px; }
  .form__text {
    width: 100%;
    height: 300px; }

.copyright {
  background: #2c2c2c;
  padding: 5px; }
  .copyright__text {
    color: #f0efed;
    text-align: center; }

/* Landscape tablet and laptops*/
@media (max-width: 1280px) {
  .header {
    height: 75vh; }
    .header--small {
      height: 45vh; }
    .header__heading {
      font-size: 10rem; }
      .header__heading--small {
        font-size: 8rem;
        left: 10%;
        bottom: -15%; }
    .header__text-image {
      width: 120px;
      top: -15%;
      left: -7%; }
    .header__image-container {
      max-width: 400px;
      width: 400px; }
  .about__main {
    padding-bottom: 100px; }
  .main--narrow {
    -webkit-box-flex: 4;
    -ms-flex-positive: 4;
    flex-grow: 4; }
  .sub__info {
    padding: 75px 0 0 75px; }
    .sub__info--flex-reverse {
      padding: 0 75px 75px 0; }
  .sub__heading {
    font-size: 2.8rem; }
  .sub__text {
    margin: 20px 0; }
  .links__container {
    padding: 100px 0; }
  .aside__link--yellow {
    padding: 0 5px;
    margin-right: 10px; } }

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  html {
    font-size: 55%; }
  .header__wrapper {
    margin-top: 50px; }
  .header__text-image {
    width: 100px;
    top: -15%;
    left: -7%; }
  .header__heading {
    font-size: 8rem; }
  .header__image-container {
    max-width: 330px;
    width: 330px;
    position: static; }
  .sub {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: static; }
    .sub--flex-reverse {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .sub__image {
      position: static; }
    .sub__info {
      padding: 50px 0 50px 50px; }
      .sub__info--flex-reverse {
        padding: 50px 50px 50px 0; }
  .links__container {
    padding: 75px 0; }
  .links__items:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }
  .journey__main {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .page__wrapper {
    width: 100%;
    padding: 70px 30px; }
  .form__name, .form__email {
    width: 100%; } }

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  html {
    font-size: 50%; }
  .nav__title {
    display: none; }
  .nav__main-menu {
    padding: 10px; }
  .nav__links {
    font-size: 2.6rem; }
    .nav__links:hover {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      text-shadow: none; }
  .header--small {
    height: 40vh;
    background-size: contain;
    margin-top: 40px; }
  .header__wrapper {
    margin-top: 0; }
  .header__text-image {
    width: 80px;
    top: -15%;
    left: -7%; }
  .header__heading--small {
    font-size: 7rem;
    position: static;
    text-align: center; }
  .about__main {
    padding: 50px 0; }
  .main {
    text-align: center; }
    .main--narrow {
      margin: 0; }
    .main__text {
      margin: 20px auto; }
      .main__text--narrow {
        width: 90%; }
  .sub {
    display: block;
    padding-top: 50px; }
    .sub--flex-reverse {
      padding-bottom: 50px; }
    .sub__info {
      display: block;
      padding: 50px 0 0 0; }
    .sub__heading {
      text-align: center; }
    .sub__text {
      text-align: center; }
    .sub__image-container {
      -webkit-box-shadow: 20px 20px 0 #a82706;
      box-shadow: 20px 20px 0 #a82706; }
      .sub__image-container--flex-reverse {
        -webkit-box-shadow: 20px 20px 0 #f6a823;
        box-shadow: 20px 20px 0 #f6a823; }
  .button {
    margin: 0 auto; }
  .links__container {
    width: 100%;
    padding: 30px;
    display: block; }
  .links__items {
    margin: 0 auto;
    width: 100%; }
    .links__items:hover {
      background: none;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
  .journey__main {
    width: 100%;
    display: block;
    padding: 30px; }
  .journey__image-container {
    display: none; }
  .journey__gallery {
    width: 100%;
    padding: 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .journey__gallery-items {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
    .journey__gallery-items:hover {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
  .page__wrapper {
    display: block;
    width: 100%; }
  .aside__container--display {
    display: none; }
  .aside__container {
    text-align: center; }
  .aside__posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .aside__items {
    width: 49%; }
    .aside__items:nth-child(n+3) {
      margin-bottom: 0; }
  .aside__social-media {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px; }
  .aside__email {
    margin: 0;
    line-height: 32px; }
  .blog {
    width: 100%; }
    .blog__comments {
      display: block; }
    .blog__image-container {
      display: none; }
  .page__container {
    width: 100%; }
  .page__wrapper {
    width: 100%;
    padding: 30px; } }

/* Landscape phones */
@media (max-width: 480px) {
  html {
    font-size: 45%; }
  .nav__main-menu {
    padding: 10px; }
  .nav__links {
    font-size: 2.2rem;
    padding: 5px; }
  .header {
    height: 50vh; }
    .header--small {
      height: 35vh;
      background-size: 70%;
      background-position: center; }
    .header__title {
      margin: auto; }
    .header__heading {
      margin: 0;
      font-size: 10rem; }
      .header__heading--small {
        font-size: 7rem; }
    .header__text-image {
      width: 100px;
      top: -15%;
      left: -7%; }
    .header__image-container {
      display: none; }
  .aside__posts {
    display: block; }
  .aside__items {
    width: 100%;
    margin-bottom: 10px; }
    .aside__items:nth-child(3) {
      margin-bottom: 10px; }
    .aside__items:last-child {
      margin-bottom: 0; } }

/* portrait phones to landscape phones  */
@media (max-width: 320px) {
  .nav__main-menu {
    padding: 5px; }
  .nav__links {
    font-size: 2rem;
    padding: 3px; }
  .header__wrapper {
    margin-top: 30px; }
  .header__text-image {
    width: 75px;
    top: -15%;
    left: -7%; }
  .header__heading {
    font-size: 8rem; } }
